<section>
    <div class="body-container">
         <h2 class="body-header">What is going on around the world?</h2>
         <p class="body-para">Get the latest and archive news and blogs based on your search preference</p>
    </div>

    <form action="/" method="POST">
        <input type="text" name="search"  placeholder="Enter Search Topic" class="search-input" required>
        <input type="submit" value="Search" class="btn-grad">
    </form>
 </section>