    <footer>
    <ul class="footer-list">
        <li class="footer-item">
            <a href="https://github.com/Taofiqq" class="footer-link"><i class='bx bxl-github'></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/taofiq-aiyelabegan-6241a1139/" class="footer-link"><i class='bx bxl-twitter'></i></a>
        </li>
        <li>
            <a href="https://twitter.com/Taofiq__" class="footer-link"><i class='bx bxl-linkedin'></i></a>
        </li>
        <li>
            <a href="https://newsdata.io/" class="footer-link" >API</i></a>
        </li>
    </ul>
     <div class="copyright">
         <p class="copy">2021. TaofiqCodes. All right reserved.</p>
     </div>
    </footer>