<header class="header">
          
    <ul class="header-list">
        <li>
            <a href="/" class="header-link"><i class='bx bxl-nodejs'></i></a>
        </li>
        <li>
            <a href="#" class="header-link">News Updates</a>
        </li>
        <li>
            <a href="https://newsdata.io/" class="header-link">API</a>
        </li>
    </ul>

</header>