/* common styles */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}
html {
    scroll-behavior: smooth;
}
/* end of common styles */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  border-bottom: 1px solid #ced4da;
}
.header-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
.header-link {
  text-decoration: none;
  margin-right: 8rem;
  font-size: 1.5rem;
  color: white;
}
.icons {
  font-size: 1.5rem;
  transform: translateY(0.3rem);
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.body-header {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  text-transform: uppercase;
  font-size: 1.9rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.body-para {
  margin-top: 1rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  padding: 1rem 0.7rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  width: 20%;
}

.btn-grad {background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%)}
.btn-grad {
   margin: 10px;
   padding: 1rem .9rem;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   margin-left: -.5rem;
   border-radius: 10px;
   /* display: inline-block; */
   border: none;
   outline: none;
   font-family: 'Work Sans', sans-serif;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.news-img {
  width: 100%;
  margin-top: 2rem;
}

.card-wrapper {
  margin-top: 2rem;
}
.news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 0 2rem;
  grid-gap: 1rem;
  
}
.news-card {
  list-style: none;
  text-decoration: none;
  color: #fff;
  background-color: #0A1931;
  color: white;
  border-radius: 0.5rem;
  padding: 0 3rem;
  height: max-content;
  
}

.news-title{
    color: #FFEAC9;
    text-transform: uppercase;
}
.news-card:hover {
  -webkit-box-shadow: -1px 5px 15px 5px #a3a3a3;
  box-shadow: -1px 5px 15px 5px #a3a3a3;
}



::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9rem;
  color: black;
}

footer {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}
.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}
.copyright {
  text-align: center;
}
.footer-link {
  text-decoration: none;
  color: white;
  margin-right: 4rem;
  font-size: 1.7rem;
}
.footer-link:hover {
  color: #262a53;
}
.copy {
  color: white;
}

@media (max-width: 768px) {
  header {
    overflow: hidden;
  }
  .header-link {
    text-decoration: none;
    margin-right: 5rem;
    font-size: 1.2rem;
    color: white;
  }
  .icons {
    font-size: 1.2rem;
    transform: translateY(0.3rem);
  }
  .body-header {
    font-size: 1rem;
  }
  .body-para {
    font-size: 0.8rem;
  }
  form {
    display: flex;
    flex-direction: column;
    }

    .search-input {
        margin-top:2rem;
        width: 60%;
    }
    .btn-grad {
        width: 30%;
        margin-top: 2rem;
    }
}

@media (max-width: 485px) {
  .header-link {
    text-decoration: none;
    margin-right: 2rem;
    font-size: 0.8rem;
    color: white;
  }
  .icons {
    font-size: 1rem;
    transform: translateY(0.3rem);
  }
  .body-para {
    font-size: 0.8rem;
    margin: 0 3rem;
    text-align: justify;
  }
  input {
    margin-top: 3rem;
    width: 300px;
  }
  .footer-link {
    font-size: 1.3rem;
  }
  .copy {
    font-size: 1rem;
  }
  .news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0 2rem;
    grid-gap: 1rem;
    
  }

  
}
@media (max-width: 350px) {
  .body-header {
    font-size: 0.8rem;
    margin: 0 3rem;
    text-align: justify;
  }
  .body-para {
    font-size: 0.6nodemonrem;
    margin: 0 3rem;
    margin-top: 2rem;
    text-align: justify;
  }
  input {
    margin-top: 3rem;
    width: 200px;
  }
  .footer-link {
    font-size: 1.1rem;
    margin-right: 2rem;
  }
  .copy {
    font-size: 0.7rem;
  }
  .btn-grad {
    width: 50%;
    margin-top: 2rem;
}
.news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0 2rem;
    grid-gap: 1rem;
    
  }
}
