body {
    font-family: 'Work Sans', sans-serif;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}

header{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 3rem;
    border-bottom: 1px solid #ced4da;
}
.header-list{
    display: flex;
    justify-content:space-around;
    align-items:center;
    list-style: none;
    text-decoration: none;
}
.header-link{
    text-decoration: none;
    margin-right: 8rem;
    font-size: 1.5rem;
    color: white;
}
.icons {
    font-size:1.5rem;
    transform: translateY(.3rem);
}

.body-container{ 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-top:2rem;
}
.main-header{    
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    text-transform: uppercase;
    font-size: 1.9rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}
input:first-child {
    padding: 1rem .7rem;
    border-radius: .8rem;
    border: none;
    outline: none;
    width: 20%;
}
img{
    max-width: 100%;
}

.card-wrapper {
    margin-top:2rem;
}
.news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    /* overflow: hidden; */
    grid-gap: 1rem;
    
}
.news-card {
    list-style: none;
    text-decoration: none;
    color: #fff;
    background-color: #0A1931;
    border-radius: .5rem;
}
.news-card:hover{
   -webkit-box-shadow: -1px 5px 15px 5px #A3A3A3; 
    box-shadow: -1px 5px 15px 5px #A3A3A3;
}

.btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 15px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   border: none;
   outline: none;
   margin-left: -5.45rem;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


footer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}
.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    
}
.copyright {
    text-align: center;
}
.footer-link {
    text-decoration: none;
    color: white;
    margin-right: 4rem;
    font-size: 1.7rem;
}
.footer-link:hover{
    color: #262A53;
}
.copy {
    color: white;
}